{
    "data": {
        "elevation": 0,
        "external_url": "https://jzd-home.duckdns.org",
        "internal_url": null,
        "latitude": 38.66877494096255,
        "location_name": "Home",
        "longitude": -90.33197164535524,
        "time_zone": "America/Chicago",
        "unit_system": "imperial"
    },
    "key": "core.config",
    "version": 1
}